<app-header></app-header>
<app-main-slider></app-main-slider>

<div class="container-fluid">
    <div class="row mt-5 mb-5">
        <div class="col-12 text-center">
            <h1 class="font-weight-bolder">Welcome to our website</h1>
            <h4>Using this allows the header to become centralised in the div when using bootstrap which using</h4>
        </div>
        <div class="container-fluid">
            <div class="row mt-5">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center insurance-services">
                    <img class="landing-image" src="../../assets/images/insurance1.png" alt="ins1">
                    <strong>24/7 service</strong>
                    <p class="landing-service">Using this allows the header to become centralised in the div when using bootstrap which using
                    </p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center insurance-services">
                    <img class="landing-image" src="../../assets/images/pexels-bich-tran-669996.jpg" alt="ins1">
                    <strong>Best plans</strong>
                    <p class="landing-service">Using this allows the header to become centralised in the div when using bootstrap which using
                    </p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center insurance-services">
                    <img class="landing-image" src="../../assets/images/pexels-pixabay-39284.jpg" alt="ins1">
                    <strong>Everything is here</strong>
                    <p class="landing-service">Using this allows the header to become centralised in the div when using bootstrap which using
                    </p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center insurance-services">
                    <img class="landing-image" src="../../assets/images/pexels-simon-migaj-747964.jpg" alt="ins1">
                    <strong>Ever ready claim</strong>
                    <p class="landing-service">Using this allows the header to become centralised in the div when using bootstrap which using
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="photo-gallery">
            <div class="container-fluid">
                <div class="intro">
                    <h2 class="text-center">Our Insurance Offer</h2>
                    <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum
                        nibh erat, pellentesque ut laoreet vitae. </p>
                </div>
                <div class="row photos">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item"><a href="../../assets/images/pexels-bich-tran-669996.jpg"
                            data-lightbox="photos"><img class="img-fluid" src="../../assets/images/pexels-bich-tran-669996.jpg"></a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item"><a href="../../assets/images/insurance2.jpg"
                            data-lightbox="photos"><img class="img-fluid" src="../../assets/images/insurance2.jpg"></a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item"><a href="../../assets/images/insurance3.jpg"
                            data-lightbox="photos"><img class="img-fluid" src="../../assets/images/insurance3.jpg"></a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item"><a href="../../assets/images/pexels-pixabay-39284.jpg"
                            data-lightbox="photos"><img class="img-fluid" src="../../assets/images/pexels-pixabay-39284.jpg"></a>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="row mt-5">
                <div class="col-12 text-center">
                    <h1>Latest News</h1>
                    <h4>>Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat,
                        pellentesque
                        ut laoreet vitae.</h4>
                </div>
                <div class="container mt-5">
                    <owl-carousel-o [options]="latestnews">
                        <ng-template carouselSlide>
                            <div class="slide owl_slider">
                                <img src="../../assets/images/insurance1.png">
                                <p>Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat,
                                    pellentesque ut laoreet vitae.</p>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide owl_slider">
                                <img src="../../assets/images/insurance1.png">
                                <p>Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat,
                                    pellentesque ut laoreet vitae.</p>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide owl_slider">
                                <img src="../../assets/images/insurance1.png">
                                <p>Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat,
                                    pellentesque ut laoreet vitae.</p>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>-->
    </div>
</div>
<app-footer></app-footer>
