<footer class="page-footer bg-dark mt-5">
    
    <div class="bg-primary">
        <div class="container-fluid">
            <div class="row py-4 d-flex align-items-center">

                <div class="col-md-12 text-center">
                    
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid text-center text-md-left mt-5">
        <div class="row">

            <div class="col-md-3 mx-auto mb-4 footer_text_color">
                <h6 class="text-uppercase font-weight-bold">Insurance app</h6>
                <hr class="bg-primary mb-4 mt-0 d-inline-block mx-auto" style="width: 125px;height: 2px;">
                <p class="mt-2">Let's find you
                    the Best Insurance</p>
            </div>
            
            <div class="col-md-3 mx-auto mb-4 footer_text_color">
                <h6 class="text-uppercase font-weight-bold">Plans</h6>
                <hr class="bg-primary mb-4 mt-0 d-inline-block mx-auto" style="width: 85px;height: 2px;">
                
                <ul class="list-unstyled">
                    <li class="my-2"><a href="/policy-component/1">Life Insurance</a></li>
                    <li class="my-2"><a href="/policy-component/2">Dental Insurance</a></li>
                    <li class="my-2"><a href="/policy-component/3">Vision Insurance</a></li>
                </ul>
            </div>

            <div class="col-md-3 mx-auto mb-4 footer_text_color">
                <h6 class="text-uppercase font-weight-bold">Quick Links</h6>
                <hr class="bg-primary mb-4 mt-0 d-inline-block mx-auto" style="width: 110px;height: 2px;">

                <ul class="list-unstyled">
                    <li class="my-2"><a href="#">Home</a></li>
                    <li class="my-2"><a routerLink="/about-us">About</a></li>
                    <li class="my-2"><a href="#">Insurance Plan</a></li>
                    <li class="my-2"><a href="http://localhost:4200/emp-login">Employee Login</a></li>
                </ul>
            </div>    
        </div>
    </div>

    <div class="footer-copyright text-center py-3 footer_text_color">
        <p>&copy; Copyright</p>
        <p>Designed by Insurance App</p>
    </div>
</footer>
