<app-header></app-header>
<app-main-slider></app-main-slider>
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <h2 class="font-weight-bold">About Our Agency</h2>
    </div>
    <div class="row mx-5 my-5">
        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="about-us-images text-center">
                <img src="../../assets/images/pexels-jess-bailey-designs-1097930.jpg" class="rounded mx-auto d-block"
                    alt="about us images">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
            <h4>Top Customer Service</h4>
            <p>Our friendly customer support team is your extended family. Speak your heart out. They listen with undivided attention to resolve your concerns. Give us a call, request a callback or drop us an email, we’re here to help.</p>
        </div>
    </div>
    <div class="row mx-5 my-5">
        <div class="col-lg-6 col-md-6 col-xs-12">
            <h4>Cheap Insurance Quotes</h4>
            <p>We work hard to compare coverage options, discounts, and insurance policies to get you the best insurance
                rate for your needs.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="about-us-images text-center">
                <img src="../../assets/images/pexels-jess-bailey-designs-1097930.jpg" class="rounded mx-auto d-block"
                    alt="about us images">
            </div>
        </div>
    </div>
    <div class="row mx-5 my-5">
        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="about-us-images text-center">
                <img src="../../assets/images/pexels-jess-bailey-designs-1097930.jpg" class="rounded mx-auto d-block"
                    alt="about us images">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
            <h4>Get Insurance Discounts</h4>
            <p>You like discounts, right? We have tons of them and we make sure every customer of ours gets every
                insurance discount they're entitled to.</p>
        </div>
    </div>
    <div class="row mx-5 my-5">
        <div class="col-lg-6 col-md-6 col-xs-12">
            <h4>We're Local.</h4>
            <p>When you really need help with your insurance policy or an insurance claim, do you actually want to deal
                with an 800 number? We're here to help...</p>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="about-us-images text-center">
                <img src="../../assets/images/pexels-jess-bailey-designs-1097930.jpg" class="rounded mx-auto d-block"
                    alt="about us images">
            </div>
        </div>
    </div>
</div>
    <!--tabs -->
<div class="container-fluid">
    <div class="row mt-10">
        <div class="col-lg-8 col-md-8 col-xs-12">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#oFficeHours">OFfice Hours</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#insuranceCarriers">Insurance Carriers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#product">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#languages">Languages</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="oFficeHours" class="container tab-pane active"><br>
                    <h3>Office Hours</h3>
                    <ul>
                    <li>Monday:9:00am - 5:00pm</li>
                    <li>Tuesday:9:00am - 5:00pm</li>
                    <li>Wednesday: 9:00am - 5:00pm</li>
                    <li> Thursday:9:00am - 5:00pm</li>
                    <li> Friday:9:00am - 5:00pm</li>
                    <li> Saturday: Closed</li>
                    <li> Sunday:Closed</li>
                    </ul>
                </div>
                <div id="insuranceCarriers" class="container tab-pane fade"><br>
                    <h3>Insurance Carriers</h3>
                    <p>Mercury, Progressive, Travelers, Allianz, Chubb, Farmers, Liberty Mutual, Nationwide, Geico, CNA, Encompass, Erie Insurance, AIG, Prudential, Blue Cross Blue Shield, Selective, Safeco, Hanover.</p>
                </div>
                <div id="product" class="container tab-pane fade"><br>
                    <h3>Product </h3>
                    <p>Life Insurance</p>
                    <p>Dental Insurance</p>
                    <p>Vision And Dental Insurance</p>
                </div>
                <div id="languages" class="container tab-pane fade"><br>
                    <h3>Languages</h3>
                    <p>English, Hindi</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
            <h4>Why Choose Us?</h4>
            <ul class="checklist">
                <li>Affordable Insurance Rates!</li>
                <li>Face-to-face support when you need it.</li>
                <li>We are insurance claims experts.</li>
                <li>Customer satisfaction is our priority</li>
            </ul>
        </div>
    </div>
</div>

<app-footer></app-footer>