.login,
.image{
    min-height: 100vh;
}
.bg-image-login{
    background-image: url(assets/images/insurance1.png);
    background-size: cover;
    background-position: center center;
}
.register_link_button a{
    color: #007bff !important;
}
.error-message{
    color:red;
}
.navbar-margin-check{
    margin-top: -20px;
}