<div style="margin-top: -17px; margin-left: 4px; margin-right: 4px; border-radius:5px ;">
    <owl-carousel-o  [options]="customOptions">
        <ng-template  carouselSlide>
            <div class="slide owl_slider main_slider">
                <img src="../../assets/images/health1.png">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="slide owl_slider main_slider">
                <img src="../../assets/images/health2.png">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="slide owl_slider main_slider">
                <img src="../../assets/images/health3.png">
            </div>
        </ng-template>
    </owl-carousel-o>
</div>