<app-header></app-header>
<div class="forgot-password" *ngIf="forgotPasswordFormDisplay">
<div class="container">
  <div class="row p-3">
    <div class="col-6">
      <img src="../../assets/images/pexels-bich-tran-669996.jpg">
    </div>
    <div class="col-5 p-2 ml-5">

      <form class="text-center  p-3" #forgotForm="ngForm" (ngSubmit)="forgotPassword()">

        <p class="h4 mb-3">Forgot Password?</p>

        <div *ngIf="errorMessage" class="alert-danger mb-2">
          {{errorMessage}}
        </div>
        <div *ngIf="showSuccess" class=" alert-success mb-2">
          {{successMessage}}
        </div>

        <div class="row mb-4 " [class.has-error]="emailControl.invalid && emailControl.touched"
          [class.has-success]="emailControl.valid">
          <input type="email" id="emailForgot" required [(ngModel)]="email" name="email" #emailControl="ngModel"
            placeholder="E-mail" class="form-control ">
          <span class="help-block" style="color: red;" *ngIf="emailControl.invalid && emailControl.touched">**Email
            can't be empty </span>
        </div>

        <div class="row mb-4" *ngIf="showOptField()">
          <input type="text" id="otpField" [(ngModel)]="OTP" name="OTP" class="form-control" placeholder="OPT">
        </div>
        <div class="d-flex justify-content-around"></div>

        <button btn color="info" id="buttonOTP" class="btn btn-primary m-3" [disabled]="forgotForm.invalid"
          type="submit">Send OTP</button>
      </form>

    </div>
  </div>
</div>
</div>

<!-- New Password -->
<div class="newPassword" *ngIf="newPasswordFormDisplay">

  <div class="container">
    <div class="row p-3">
      <div class="col-6">
        <img src="../../assets/images/pexels-simon-migaj-747964.jpg">
      </div>
      <div class="col-5 p-2 ml-5">
        <!-- Default form login -->
  
        <div *ngIf="loginMessage" class="alert alert-success mb-2">
          <span style="font-weight: 300;">Your Password has been reset. Please login</span>
        </div>
        <div *ngIf="optMessage" class="alert alert-success mb-2">
          <span style="font-weight: 300;">OTP Verified successfully</span>
        </div>
        <form class=" p-3" #resetForm="ngForm" (ngSubmit)="onSubmit()">
  
          <p class="h4 mb-4 text-center">Reset Password</p>
          <div *ngIf="showError" class="p-2 alert-danger mb-2">
            {{newErrorMessage}}
          </div>
          <div *ngIf="newShowSuccess" class="p-2 alert-success mb-2">
            {{newSuccessMessage}}
          </div>
          <div class="mb-4" [class.has-error]="newPass.invalid && newPass.touched" [class.has-success]="newPass.valid">
            <input type="text" id="newPassFormEmail" [(ngModel)]="newPassword" name="newPassword" class="form-control "
              placeholder="New Password" required #newPass="ngModel">
            <span class="help-block" style="color: red;" *ngIf="newPass.invalid && newPass.touched">**This can't be empty
            </span>
          </div>
  
          <div class="mb-4" [class.has-error]="confirmPass.invalid && confirmPass.touched"
            [class.has-success]="confirmPass.valid">
            <input type="text" id="confirmPassFormPassword" [(ngModel)]="confirmPassword" name="confirmPassword"
              class="form-control" placeholder="Confirm Password" required #confirmPass="ngModel">
            <span class="help-block" style="color: red;" *ngIf="confirmPass.invalid && confirmPass.touched">**This can't
              be empty </span>
          </div>
  
          <!-- Sign in button -->
          <div class="d-flex justify-content-around">
            <button btn color="info" block="true" [disabled]="resetForm.invalid" class="btn btn-primary m-3"
              type="submit">Change Password</button>
          </div>
        </form>
        <!-- Default form login -->
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
